/* CSS Variables */
:root {
  --background-color: #f8f8f8;
  --primary-color: #45969b;
  --secondary-color: #50b6bb;
  --text-color: #f96d15;
  --button-bottom-border: 5px solid rgba(0, 0, 0, 0.3);
}
/* CSS Variables End */

/* Root tags */
* {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 20px;
  font-family: 'Darker Grotesque', sans-serif;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
p {
  font-size: 16px;
}
/* Root tags End */

/* Header */
.header-container {
  text-align: center;
}
/* Navigation */
.header-container_navigation {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
/* Search */
.navigation_search {
  display: flex;
  flex-flow: row wrap;
}

.navigation_search * {
  margin: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
}

.search_submit {
  font-size: 20px;
  color: var(--background-color);
  border-bottom: var(--button-bottom-border);
  background-color: var(--primary-color);
}

.search_submit:hover, .search_submit:focus {
  background-color: var(--secondary-color);
  cursor: pointer;
}
/* Search End */


/* Navigation End */

/* Header End */

/* Main Content */
/* Loading Message */
.main-content_loading-message {
  position: fixed;
  top: 0;
  right: 50%;
  width: 100%;
  max-width: 450px;
  margin: 20% auto;
  font-size: 20px;
  animation: loading-message-blending 1.5s linear infinite alternate;
}
/* Loading Message End */

/* Pokemon List */
.main-content_pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
/* Pokemon List End */

/* List Item */
.main-content_pokemon-list li {
  margin: 20px;
}
/* List Item End */

/* List Item Button */
.item_button {
  width: 100%;
  text-decoration: none;
  padding: 20px;
  border: 0;
  border-radius: 5px;
  color: white;
  background-color: var(--primary-color);
  text-transform: uppercase;
  border-bottom: var(--button-bottom-border);
  transition: .3s;
}
.item_button:hover,
.item_button:focus {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}
/* List Item Button End */

/* Main Content End */

/* Modal Box Container */
#modal-container {
  display: none;
}
#modal-container.is-visible {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background: rgba(0,0,0,.3);
  overflow: auto;
}
/* Modal Box */
.modal {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-flow: column wrap; 
  padding: 20px;
  background: var(--background-color);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 10px rgba(255,255,255,.3);
  z-index: 999;
}
/* Close Button */
.modal_close {
  float: right;
  border: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  text-decoration: underline;
}

.modal_close:hover, .modal_close:focus {
  text-decoration: none;
  cursor: pointer;
}
/* Close Button End */

/* Title */
.modal_title {
  text-transform: uppercase;
}
/* Title End */

/* Image */
.modal_image {
  width: 30%;
  margin: 0px auto; 
}
/* Image End */

/* Text Container */
.modal_text-container {
  display: inline-block;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: var(--text-color);
  text-transform: uppercase;
  overflow: auto;
}
/* Text Container End */

/* Modal Box End */

/* Modal Box Container End */

/* Animations */
/* Loading Header */
@keyframes loading-message-blending {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Loading Header End */

/* Animations End */

/* Media Queries */
@media all and (max-width: 500px) {
  .main-content_pokemon-list {
    flex-flow: column wrap;
  }
  .main-content_pokemon-list li {
      flex: 1 1 auto;
      margin: 10px;
  }
}

/* Media Queries End */
