/* CSS Variables */
/* CSS Variables End */

/* Root tags */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    color: #f96d15;
    background-color: #f8f8f8; 
    padding: 20px;
}

p {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 3px solid gray;
    background-color: lightgray;
}
/* Root tags End */

/* Main Content */
/* Pokemon List */
.main-content_pokemon-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}
/* Pokemon List End */

/* List Item Button */
.item_button {
    text-decoration: none;
    margin: 20px;
    padding: 20px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: #45969b;
    border-bottom: 3px solid rgba(0,0,0,.3);
}
.item_button:hover {
    background-color: #50b6bb; 
}
.item_button:focus {
    background-color: #50b6bb; 
}
/* List Item Button End */

/* Main Content End */

/* Media Queries */
@media all and (max-width: 500px) {
    p {
        display: block;
        margin: 10px;
        text-align: center;
    }
}
/* Media Queries End */