/* Root tags */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    color: #f96d15;
    background-color: #f8f8f8; 
}

p {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 3px solid gray;
    background-color: lightgray;
}
/* Root tags End */

/* Main Content */
/* List Item Button */
.item_button {
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    background: #45969b;
    border-bottom: 3px solid rgba(0,0,0,.3);
}
/* List Item Button End */

/* Main Content End */

/* Media Queries */
@media all and (max-width: 500px) {
    p {
        display: block;
        margin: 10px;
        text-align: center;
    }
}
/* Media Queries End */